<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=8462EC19-BC85-35E0-9EE4-7ACF82220E5D"></script>
</head>
<body>
  <div id="vmap" style="width:100%;height:370px;left:0px;top:0px"></div>

  <div id="buttons">
    <button type="button" onclick="move(14276610.480439782,4224839.171417269);" >여의도</button>
    {{!-- ", "y" : " --}}
    <button type="button" onclick="move(14679304.585522275, 4472545.1240446,14);" >독도</button>
  </div>

  <select name="지역" id="region">
    <option value="">강원</option>
    <option value="">경기</option>
    <option value="">경남</option>
    <option value="">경북</option>
    <option value="">전남</option>
    <option value="">전북</option>
    <option value="">충남</option>
    <option value="">충북</option>
  </select>
</body>
<script>
  vw.ol3.MapOptions = {
    basemapType: vw.ol3.BasemapType.GRAPHIC,
    controlDensity: vw.ol3.DensityType.EMPTY,
    interactionDensity: vw.ol3.DensityType.BASIC,
    controlsAutoArrange: true,
    homePosition: vw.ol3.CameraPosition,
    initPosition: vw.ol3.CameraPosition
  };

  const vmap = new vw.ol3.Map("vmap", vw.ol3.MapOptions);

  function move(x,y,z){
    var _center = [ x, y ];
    var z = z;
    var pan = ol.animation.pan({
      duration : 2000,
      source : (vmap.getView().getCenter())
    });
    vmap.beforeRender(pan);
    vmap.getView().setCenter(_center);
    setTimeout("fnMoveZoom()", 100);
  }
  
  function fnMoveZoom() {
    zoom = vmap.getView().getZoom();
    if (16 > zoom) {
      vmap.getView().setZoom(10);
    }
  };

   var tansform = ol.proj.transform(x,y, 'EPSG:3857', 'EPSG:4326') 
   console.log(transform(14153652.92409133, 4275218.188234518))
</script>
</html>