<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>title</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xpjr4qacwi"></script>
  <script>
    const start = () => {
      const showPosition = (position) => { 
        loadMap(
          position.coords.latitude,
          position.coords.longitude
        )
      }
      navigator.geolocation.getCurrentPosition(showPosition)
    }
    start()

    const loadMap = (lat, lng) => {
      new naver.maps.Map('map',{
        center: new naver.maps.LatLng(lat, lng)
      });
    }
  </script>
</head>
<body>
  <div id="map" style="width:400px; height:400px"></div>
  {{ body }}
</body>
</html>