<!DOCTYPE html>
<html>
<link>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xpjr4qacwi&amp;submodules=panorama"></script>
  <script src="/public/script/scripts.js"></script>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <div id="wrap" class="section">
    <div id="map" style="width:100%; height:600px;"></div>
  </div>
</html>